@model Shag_Kursovaya.Models.User

<div class="about_us">
    <h1>Lets Burger It!</h1>
    <div class="about_us_text">
        <p>Мы компания продающие лучшие бургеры и лучшую пиццу!</p>
        <p>Нашей фишкой является возможность пользователю самому собрать свой бургер! Представте, вам не нравится состав меню, тогда вы можете <span class="main_text_part">сами</span> сделать свой идеальный бургер!</p>
        <p class="directed_by">Сайт был разработан учеником Компьютерной Академии "ШАГ", Такеновым Хаккназаром в 2020 году</p>
    </div>
</div>