@model Shag_Kursovaya.Models.User

<ul class="user_data_menu">
    <li class="header_menu_item">@Html.ActionLink(Model.Login, "UserProfile", new { @class="link" })</li>
    <li class="header_menu_item"><a href="http://localhost:54612/MainPage/LogOut" class="link">Выйти</a></li>
</ul>