<ul class="signin_menu">
    <li class="header_menu_item"><a href="http://localhost:54612/MainPage/Login" class="link">Войти</a></li>
    <li class="header_menu_item"><a href="http://localhost:54612/MainPage/Registration" class="link">Регистрация</a></li>
</ul>
